langchain
langchain_experimental
langchain-openai
pydantic-settings==2.5.2
langchain_ollama
ollama
pandas
pyarrow==17.0.0
sentence_transformers==3.1.1
elasticsearch
pytest 
pytest-flask
Flask
mysql-connector